/* Media Query */
.messageDialog {
  /* Hidden by default */
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.checkbox{
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.input {
  display: block;
  border: 0px;
  box-shadow: 0px 5px 5px #c4c4c2;
  width: 40%;
  height: 50px;
  margin: 20px auto 0px auto;
  font-size: 18px;
}

.textarea {
  display: block;
  border: 0px;
  box-shadow: 0px 5px 5px #c4c4c2;
  width: 40%;
  height: 100px;
  margin: 20px auto 0px auto;
  font-size: 18px;
}

.input-content {
  border: 0px;
  width: 100%;
  height: 50px;
  margin: auto auto auto auto;
  padding-left: 40px;
  font-size: 18px;
}

.dialog-content {
  background-color: #f5f4f2;
  margin: auto;
  text-align: center;
  z-index: 20;
  /* background-image: url("https://png.pngtree.com/background/20210706/original/pngtree-hd-brick-wall-background-picture-image_206286.jpg"); */
  padding: 20px;
  border: 10px solid #888;
  width: 60%;
}

.div1 {
  background-color: #cbf5dd;
  margin: 0px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 0px;
}

.div2 {
  background-color: #cbf5dd;
  margin: 0px;
  height: 200px;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.imgbtn {
  height: 100px;
  width: 100px;
  padding: 20px;
  justify-content: center;
  border-radius: 100px;
  text-align: center;
  background-color: black;
}

.link {
  padding: 15px 30px;
  margin: 10px;
  display: inline-block;
  color: white;
  background: black;
  text-decoration: none;
}

hr {
  border-style: none;
  border-top-style: dotted;
  color: grey;
  height: 5px;
  border-width: 5px;
  background-color: #faecde;
  width: 80%;
  margin: 50px auto 20px auto;
}

.link:hover {
  text-decoration: none;
  color: white;
}

/*===================*/
/* SHRINK EFFECT
/*===================*/
.shrink-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.shrink-on-hover:hover, .shrink-on-hover:focus, .shrink-on-hover:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

html, body {
  width: 100%;
  background-color: white;
}

h1 {
  text-align: center;
  font-size: 80px;
  margin-top: 40px;
}

h3 {
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
  text-align: center;
  font-size: 25px;
}

.mountain {
  display: block;
  margin-left: auto;
  margin-top: 60px;
  margin-right: auto;
  width: 40%;
}

#cloud1 {
  float: left;
  display: inline;
  width: 200px;
  margin-top: 50px
}

#cloud2 {
  display: block;
  width: 200px;
  margin: 150px auto 0px auto;
}

#cloud3 {
  float: right;
  display: inline;
  width: 200px;
  margin-top: 50px
}

.container-fluid {
  height: 50px;
}

.textCodingStuff {
  margin: 20px 20px 20px 20px;
  color: #a8a8a7;
  font-size: 20px;
  font-family: 'Edu NSW ACT Foundation', cursive;
}

.input-icon {
  position: absolute;
  margin-top: 16px;
  margin-left: 10px;
}

#closedialog {
  float: right;
  height: 50px;
}

.bottom-content {
  padding-left: 80px;
  padding-top: 50px;
}

.review-card {
  height: 600px;
  width: 50%;
  margin: 40px 0px 0px 0px;
  z-index: 1;
  padding-top: 30px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 20px #f5f4f2;
}

.bottom-1 {
  background-color: white;
  height: 400px;
  box-shadow: 0px 0px 20px #f5f4f2;
  margin-top: 120px;
}

.bottom-2 {
  background-color: #cbf5dd;
  height: 400px;
  text-align: left;
  padding-left: 80px;
  padding-top: 50px;
}



@media (max-width: 990px) {
  .mountain {
    display: block;
    margin-left: auto;
    margin-top: 200px;
    margin-right: auto;
    width: 80%;
  }

  #closedialog {
    float: none;
    margin-top: 20px;
    height: 70px;
  }

  .bottom-1 {
    background-color: white;
    height: 400px;
    box-shadow: 0px 0px 20px #f5f4f2;
    margin-top: 120px;
    text-align: center;
  }

  .review-card {
    height: 600px;
    width: 40%;
    margin: 40px auto 0px auto;
    z-index: 1;
    text-align: center;
    padding-top: 30px;
    background-color: white;
    box-shadow: 0px 0px 20px #f5f4f2;
  }

  .textarea {
    display: block;
    border: 0px;
    box-shadow: 0px 5px 5px #c4c4c2;
    width: 80%;
    height: 200px;
    margin: 20px auto 0px auto;
    font-size: 40px;
  }

  #message {
    height: 100px;
    font-size: 40px;
    width: 40%;
  }

  #sendMessage {
    height: 130px;
    font-size: 40px;
    width: 80%;
  }

  .input-icon {
    position: absolute;
    margin-top: 42px;
    margin-left: 20px;
  }

  .input {
    display: block;
    border: 0px;
    box-shadow: 0px 5px 5px #c4c4c2;
    width: 80%;
    height: 120px;
    margin: 20px auto 0px auto;
    font-size: 40px;
  }

  .input-content {
    border: 0px;
    width: 100%;
    height: 100%;
    margin: auto auto auto auto;
    padding-left: 80px;
    font-size: 40px;
  }

  .dialog-content {
    background-color: #f5f4f2;
    margin: auto;
    text-align: center;
    z-index: 20;
    /* background-image: url("https://png.pngtree.com/background/20210706/original/pngtree-hd-brick-wall-background-picture-image_206286.jpg"); */
    padding: 20px;
    border: 10px solid #888;
    width: 90%;
  }

  h1 {
    text-align: center;
    font-size: 150px;
    margin-top: 80px;
  }

  .textCodingStuff {
    margin: 20px 20px 20px 20px;
    color: #a8a8a7;
    font-size: 30px;
    font-family: 'Edu NSW ACT Foundation', cursive;
  }

  #cloud1 {
    float: left;
    display: inline;
    width: 200px;
    margin-top: 100px
  }

  #cloud2 {
    display: block;
    width: 200px;
    margin: 250px auto 0px auto;
  }

  #cloud3 {
    float: right;
    display: inline;
    width: 200px;
    margin-top: 100px
  }

  .div1 {
    background-color: #cbf5dd;
    margin: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0px;
  }
}

@media (max-width: 990px) {
  .bottom-content {
    padding-left: 0px;
    padding-top: 50px;
  }

  .bottom-2 {
    background-color: #cbf5dd;
    height: 600px;
    text-align: left;
    text-align: center;
    padding-left: 0px;
    padding-top: 350px;

  }

}


/*
checkBiox */

@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
	--checkbox-size: 50px;
	--bg-color: #FFA69E;
	--checkbox-color: #000000;
	--hover-color: #FF686B;
	--tick-color: #84DCC6;
}





label {
	display: inline-block;
	margin: 0 calc(var(--checkbox-size) * 0.25);
	width: var(--checkbox-size);
	height: var(--checkbox-size);
	border: calc(var(--checkbox-size) * 0.125) solid var(--checkbox-color);
	border-radius: 12.5%;
	-webkit-transition: 400ms 100ms ease-out;
	-o-transition: 400ms 100ms ease-out;
	transition: 400ms 100ms ease-out;

}

label:hover {
	border-color: var(--hover-color);
}

input[type="checkbox"] {
	position: absolute;
	left: -1000px;
}

.tick {
	position: relative;
	right: calc(var(--checkbox-size) * -0.5);
	top: calc(var(--checkbox-size) * -0.25);
	width: calc(var(--checkbox-size) * 0.25);
	height: calc(var(--checkbox-size) * 0.75);
	border-right: calc(var(--checkbox-size) * 0.25) solid var(--tick-color);
	border-bottom: calc(var(--checkbox-size) * 0.25) solid var(--tick-color);
	-webkit-transform: rotate(45deg) scale(0);
	    -ms-transform: rotate(45deg) scale(0);
	        transform: rotate(45deg) scale(0);
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
	-o-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
	transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

.tick:before {
	content: '';
	position: absolute;
	left: calc(var(--checkbox-size) * -0.125);
	bottom: calc(var(--checkbox-size) * -0.25);
	border: calc(var(--checkbox-size) * 0.125) solid var(--tick-color);
	border-radius: 50%;
}

.tick:after {
	content: '';
	position: absolute;
	right: calc(var(--checkbox-size) * -0.25);
	top: calc(var(--checkbox-size) * -0.125);
	border: calc(var(--checkbox-size) * 0.125) solid var(--tick-color);
	border-radius: 50%;
}

input[type="checkbox"]:checked + label .tick {
	opacity: 1;
	-webkit-transform: rotate(45deg) scale(1);
	    -ms-transform: rotate(45deg) scale(1);
	        transform: rotate(45deg) scale(1);
}

input[type="checkbox"]:focus + label {
	-webkit-animation-name: cb-pop;
	        animation-name: cb-pop;
	-webkit-animation-duration: 400ms;
	        animation-duration: 400ms;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}

@-webkit-keyframes cb-pop {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	33% {
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
	66% {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
	100% {
		tranform: scale(1);
	}
}

@keyframes cb-pop {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	33% {
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
	66% {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
	100% {
		tranform: scale(1);
	}
}
