/* Media Query */
.div1 {
  background-color: #cbf5dd;
  margin: 0px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 0px;
}

.div2 {
  background-color: #cbf5dd;
  margin: 0px;
  height: 200px;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.imgbtn {
  height: 100px;
  width: 100px;
  padding: 20px;
  justify-content: center;
  border-radius: 100px;
  text-align: center;
  background-color: black;
}

.link {
  padding: 15px 30px;
  margin: 10px;
  display: inline-block;
  color: white;
  background: black;
  text-decoration: none;
}

hr {
  border-style: none;
  border-top-style: dotted;
  color: grey;
  height: 5px;
  border-width: 5px;
  background-color: #faecde;
  width: 80%;
  margin: 50px auto 20px auto;
}

.link:hover {
  text-decoration: none;
  color: white;
}

/*===================*/
/* SHRINK EFFECT
/*===================*/
.shrink-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.shrink-on-hover:hover, .shrink-on-hover:focus, .shrink-on-hover:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

html, body {
  width: 100%;
  background-color: white;
}

h1 {
  text-align: center;
  font-size: 80px;
  margin-top: 40px;
  font-family: 'Sacramento', cursive;
}

h3 {
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
  text-align: center;
  font-size: 30px;
  width: 20% position: absolute;
}

.mountain {
  display: block;
  margin-left: auto;
  margin-top: 60px;
  margin-right: auto;
  width: 40%;
}

#cloud1 {
  float: left;
  display: inline;
  width: 200px;
  margin-top: 50px
}

#cloud2 {
  display: block;
  width: 200px;
  margin: 150px auto 0px auto;
}

#cloud3 {
  float: right;
  display: inline;
  width: 200px;
  margin-top: 50px
}

.container-fluid {
  height: 50px;
}

.textCodingStuff {
  margin: 20px 20px 20px 20px;
  color: #a8a8a7;
  font-size: 25px;
  font-family: 'Edu NSW ACT Foundation', cursive;
}

@media (max-width: 1200px) {
  .mountain {
    display: block;
    margin-left: auto;
    margin-top: 200px;
    margin-right: auto;
    width: 80%;
  }

  h1 {
    text-align: center;
    font-size: 200px;
    margin-top: 80px;
    font-family: 'Sacramento', cursive;
  }

  .textCodingStuff {
    margin: 20px 20px 20px 20px;
    color: #a8a8a7;
    font-size: 40px;
    font-family: 'Edu NSW ACT Foundation', cursive;
  }

  #cloud1 {
    float: left;
    display: inline;
    width: 200px;
    margin-top: 100px
  }

  #cloud2 {
    display: block;
    width: 200px;
    margin: 250px auto 0px auto;
  }

  #cloud3 {
    float: right;
    display: inline;
    width: 200px;
    margin-top: 100px
  }

  .div1 {
    background-color: #cbf5dd;
    margin: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0px;
  }
}
